/* App.css */
.App {
  text-align: center;
  background-color: #fff; /* 白基調の背景色 */
  color: #333; /* 文字色 */
}

.App-header {
  background-color: #f2f2f2; /* ヘッダーの背景色 */
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #d32f2f; /* リンクの色（赤） */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
